body {
  font-family: 'Open Sans', sans-serif;
  color: darkblue;
  margin: 10px 50px 10px 50px;
  background-color: ivory;
}

h1, h2 {
  font-family: 'Oswald', sans-serif;
}

img {
  margin-right: 15px;
  float: left;
}

.column {
  float: left;
  width: 300px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
